# File: .env.example
SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
SUI_GRPC_URL=https://fullnode.mainnet.sui.io:443
DEMO_PRIVATE_KEY=suiprivkey1_replace_me
NEXT_PUBLIC_DEMO_ADDRESS=0x_replace_me
DEMO_COLLATERAL_SUI=3
DEMO_DEBT_USDC=1
